@using CarRentalServies.BAL;
@using System.Data
@model DataTable

@{
    Layout = "~/Areas/User/Views/shared/Home_Page_Layout.cshtml";
    DateTime FromDate;
    DateTime ToDate;
    
}


<a asp-area="User" asp-controller="User" asp-action="CarList" asp-route-CityID="@Model.Rows[0]["CityID"]" asp-route-FromDate="@DateTime.Now" asp-route-ToDate="@DateTime.Now">
    <i class="bi bi-chevron-left" style=" color:black;"><span style="font-size:15px;">   Back</span></i>
</a>
<section class="section" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="d-flex justify-content-between card-header">
                    <div class="">
                        <h5>Booking List</h5>
                    </div>
                </div>
                <div class="card-body">
                    <br />

                    <!-- Table with hoverable rows -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Car ID</th>
                                <th scope="col">User ID</th>
                                <th scope="col">From Date</th>
                                <th scope="col">To Date</th>
                                <th scope="col">Dates</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {@*
                                DateTime? From = Convert.ToDateTime(dr["DBFromDate"]);
                                DateTime? To = Convert.ToDateTime(dr["DBToDate"]);
                                DateTime date2 = new DateTime(0001, 01, 01, 00, 00, 00);*@
                                int CityID = Convert.ToInt32(dr["CityID"]);
                                <tr>
                                    <td>@dr["CarID"]</td>
                                    <td>@dr["UserID"]</td>
                                    <td>@dr["FromDate"]</td>
                                    <td>@dr["ToDate"]</td>
                                    <td>@dr["DBFromDate"]   @dr["DBTodate"]</td>
                                    <td>
                                        <a asp-area="User" asp-controller="User" asp-action="UpdateCarFromAndToDate" asp-route-CarID="@dr["CarID"]">
                                            <input type="button" class="btn btn-success" value="End Trip" />
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                </div>
            </div>
        </div>
    </div>
</section>