@*@using CarRentalServies.BAL;
@using System.Data
@model DataTable

@{
    Layout = "~/Areas/User/Views/shared/Home_Page_Layout.cshtml";
    DateTime FromDate;
    DateTime ToDate;

}


<a asp-controller="Home" asp-action="Index" >
    <i class="bi bi-chevron-left" style=" color:black;"><span style="font-size:15px;">   Back</span></i>
</a>
<section class="section" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="d-flex justify-content-between card-header">
                    <div class="">
                        <h5>Booking List</h5>
                    </div>
                </div>
                <div class="card-body">
                    <br />

                    <!-- Table with hoverable rows -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Car ID</th>
                                <th scope="col">User ID</th>
                                <th scope="col">From Date</th>
                                <th scope="col">To Date</th>
                                <th scope="col">Dates</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                int CityID = Convert.ToInt32(dr["CityID"]);
                                <tr>
                                    <td>@dr["CarID"]</td>
                                    <td>@dr["UserID"]</td>
                                    <td>@dr["FromDate"]</td>
                                    <td>@dr["ToDate"]</td>
                                    <td>@dr["DBFromDate"]   @dr["DBTodate"]</td>
                                    <td>
                                        <a asp-area="User" asp-controller="User" asp-action="UpdateCarFromAndToDate" asp-route-CarID="@dr["CarID"]">
                                            <input type="button" class="btn btn-success" value="End Trip" />
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                </div>
            </div>
        </div>
    </div>
</section>*@


@using CarRentalServies.Areas.User.Models;
@using CarRentalServies.BAL;
@using System.Data
@model DataTable

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    RatingModel modelRating = new RatingModel();
    int i = 0;
    List<int> id = new List<int>();
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Url.Content("~/assets/image/bg_3.jpg")');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Booking History <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Booking History</h1>
            </div>
        </div>
    </div>
</section>

@*<a asp-controller="Home" asp-action="Index">
    <i class="bi bi-chevron-left" style=" color:black;"><span style="font-size:15px;">   Back</span></i>
</a>*@
<section class="section" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                @*<div class="d-flex justify-content-between card-header">
                <div class="">
                <h5>Booking List</h5>
                </div>
                </div>*@
                <div class="card-body">
                    <br />

                    <!-- Table with hoverable rows -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp</th>
                                <th scope="col">&nbsp</th>
                                <th scope="col">&nbsp</th>
                                <th scope="col">From Date</th>
                                <th scope="col">To Date</th>
                                <th scope="col">Total Fare</th>
                                <th scope="col">Reviews</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                i++;
                                id.Add(Convert.ToInt32(dr["CarID"]));
                                int CityID = Convert.ToInt32(dr["CityID"]);
                                modelRating.CarID = Convert.ToInt32(dr["CarID"]);
                                <tr>
                                    <td class="car-image"><div class="img" style="background-image:url('@Url.Content(dr["CarPhoto"].ToString())');"></div></td>

                                    <td>@dr["CarName"]</td>
                                    <td class="carId">@dr["CarID"]</td>
                                    <td>@dr["FromDate"]</td>
                                    <td>@dr["ToDate"]</td>
                                    <td>@dr["TotalFare"]</td>
                                    <td>
                                        @{
                                            if (dr["Rating"].ToString() == "")
                                            {
                                                <button class="btn btn-success" id="actionButton" onclick="openForm()">Click</button>
                                            }
                                            else
                                            {
                                                <p>@dr["Rating"]</p>
                                            }
                                        }

                                    </td>
                                    @*<td>@dr["DBFromDate"]   @dr["DBTodate"]</td>*@
                                    <td>
                                        @{
                                            if (dr["DBFromDate"].ToString() != "" && dr["DBToDate"].ToString() != "")
                                            {
                                                if (dr["DBFromDate"].ToString() == dr["FromDate"].ToString() && dr["DBToDate"].ToString() == dr["ToDate"].ToString())
                                                {
                                                    <a asp-area="User" asp-controller="User" asp-action="UpdateCarFromAndToDate" asp-route-CarID="@dr["CarID"]">
                                                        <input type="button" class="btn btn-danger" value="End Trip" />
                                                    </a>
                                                }
                                            }
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                </div>
            </div>
        </div>
    </div>
</section>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="closeForm()">&times;</span>
        <br />
        <form asp-area="User" asp-controller="User" asp-action="RatingCar">

            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" id="myInput" value="carid" name="CarID" placeholder="Ratings" />
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="Rating" placeholder="Ratings" />
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" name="Review" placeholder="Write Review....." />
                </div>
            </div>
            <br />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary" onclick="closeForm()">Reset</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
        <script>

            function openForm() {
                document.getElementById("myModal").style.display = "block";
            }

            function closeForm() {
                document.getElementById("myModal").style.display = "none";
            }

            var value;
            var buttons = document.querySelectorAll('#actionButton');
            var carId;
            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var row = button.closest('tr');
                    carId = row.querySelector('.carId').innerText;
                    console.log("CarID:", carId);
                    var inputElement = document.getElementById("myInput");
                    inputElement.value = parseInt(carId);
                });
            });

        </script>
    }