@using System.Globalization;
@using CarRentalServies.BAL;
@using System.Data;
@model CarRentalServies.Areas.User.Models.MyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int count = Convert.ToInt32(TempData["RatingCount"]);

    DateTime FromDate = Convert.ToDateTime(TempData["FromDate"]);
    DateTime ToDate = Convert.ToDateTime(TempData["ToDate"]);

    TimeSpan value = ToDate.Subtract(FromDate);
    int hour = 0;
    if (value.Days > 0)
    {
        hour = value.Days * 24;
        hour = hour + value.Hours;
    }
    else
    {
        hour = value.Hours;
    }

    decimal? price = hour * Model.modelCar.Price;
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Url.Content("~/assets/image/bg_3.jpg")');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span class="mr-2">
                        <a asp-area="User" asp-controller="User" asp-action="CarByCityIDFromDateToDate" asp-route-CityID="@Model.modelCar.CityID" asp-route-FromDate="@FromDate.ToString()" asp-route-ToDate="@ToDate.ToString()">Cars <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span>
                        Car details <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
                <h1 class="mb-3 bread">Car Details</h1>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-car-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="car-details">
                    <div class="img rounded" style="height:450px; align-content:center; margin-left:210px;">
                        <img src="@Url.Content(Model.modelCar.CarPhoto)" style="width:700px; height:450px" />
                    </div>
                    <div class="text text-center">
                        <h2 style="font-weight:bolder;">@Model.modelCar.CarName</h2>
                        @*<span class="subheading">Cheverolet</span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Kms Driven
                                    <span>@Model.modelCar.Kms</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Transmission
                                    <span>@Model.modelCar.TransmissionName</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Seats
                                    <span>@Model.modelCar.SeatNumber Adults</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Fuel
                                    <span>@Model.modelCar.FuelName</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Price
                                    <span>@Model.modelCar.Price</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="column column-md-6" style="margin-left:200px;">
                    <h5 style="font-weight:bolder; font-size:large;">FromDate</h5>
                    <h5>@FromDate</h5>
                </div>

            </div>
            <div class="col-md-6">
                <div class="column column-md-6" style="margin-left:200px;">
                    <h5 style="font-weight:bolder; font-size:large;">ToDate</h5>
                    <h5>@ToDate</h5>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="column column-md-6" style="margin-left:200px;">
                    <h5 style="font-weight:bolder; font-size:large;">Total Hours</h5>
                    <h5>@hour</h5>
                </div>

            </div>
            <div class="col-md-6">
                <div class="column column-md-6" style="margin-left:200px;">
                    <h5 style="font-weight:bolder; font-size:large;">Total Fare</h5>
                    <h5>@price</h5>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">
                    <div class="d-flex justify-content-center">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                            <div class="row">
                                @foreach (DataRow dataRow in Model.dt.Rows)
                                {
                                    <div class="col-md-4">
                                        <ul class="features">
                                            <li class="check"><span class="ion-ios-checkmark"></span>@dataRow["FeatureName"]</li>

                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                            @Model.modelCar.CarDetail
                        </div>

                        <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="head">@count Reviews</h3>
                                    @foreach (DataRow dataRow in Model.dt1.Rows)
                                    {
                                        <div class="review d-flex">
                                            <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                            <div class="desc">
                                                <h4>
                                                    <span class="text-left">@dataRow["Name"]</span>
                                                    <span class="text-right">@dataRow["ReviewDate"]</span>
                                                </h4>
                                                <p class="star">
                                                    <span>
                                                        @{
                                                            for (int i = 1; i <= Convert.ToInt32(dataRow["Rating"]); i++)
                                                            {
                                                                <i class="ion-ios-star"></i>
                                                            }
                                                        }
                                                    </span>
                                                    <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                                </p>
                                                <p>@dataRow["Review"]</p>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12" style="display: flex; justify-content: center; align-items: center; height: 80px; margin-top:-70px;">
    @*<button class="btn btn-success" type="button" style="width:500px;" asp-area="User" asp-controller="User" asp-action="BookinSave" asp-route-CarID="@Model.CarID" asp-route-UserID="@CV.UserID()" asp-route-FromDate="@TempData["FromDate"]" asp-route-ToDate="@TempData["ToDate"]" asp-route-Email="@CV.Email()" onclick="return fun1();">Book Car</button>*@
    <a asp-area="User" asp-controller="User" asp-action="BookinSave" asp-route-CarID="@Model.modelCar.CarID" asp-route-UserID="@CV.UserID()" asp-route-FromDate="@TempData["FromDate"]" asp-route-ToDate="@TempData["ToDate"]" asp-route-TotalFare="@price.ToString()" onclick="return fun1();">
        <input type="button" class="btn btn-success" style="width:500px;" value="Book Car" />
    </a>
</div>

@section Scripts
    {
    <script>
        function fun1() {
            if (confirm("Are you sure you want to Book \n @Model.modelCar.CarName \n From @FromDate.ToString() To @ToDate.ToString()")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}
