@using CarRentalServies.BAL;
@using CarRentalServies.Areas.User.Models
@{

    Layout = "~/Areas/User/Views/shared/_User_Layout.cshtml";


    CarModel carModel = new CarModel();
    carModel.FromDate = Convert.ToDateTime(TempData["FromDate"]);
    carModel.ToDate = Convert.ToDateTime(TempData["ToDate"]);
    Console.WriteLine("FromDate = " + carModel.FromDate);
    Console.WriteLine("ToDate = " + carModel.ToDate);
    //CarFilterModel filterModel = new CarFilterModel();
    int CityID = Convert.ToInt32(TempData["CityID"]);
}
@using System.Data
@model DataTable

<div class="pagetitle">
    <i class="bi bi-list toggle-sidebar-btn"></i>
    <h1>Car List Page</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">CarList</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="card">
    <div class="card-body">
       <br />
       

        @*<form method="post" asp-controller="User" asp-action="CarByCityIDFromDateToDate" asp-area="User" asp-route-CityID="@CityID" asp-route-FromDate="@carModel.FromDate" asp-route-ToDate="@carModel.ToDate">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center row ">
                    <div class="col-md-4 product_status">
                        <label for="ecommerce-product-name" class="fw-bold mb-1 ms-1">From Date</label>
                        <input type="datetime-local" placeholder="FromDate" asp-for="@carModel.FromDate" class="form-control" id="ecommerce-product-name" />
                    </div>
                    <div class="col-md-4 product_category">
                        <label for="ecommerce-product-name" class="fw-bold mb-1 ms-1">To Date</label>
                        <input type="datetime-local" placeholder="ToDate" asp-for="@carModel.ToDate" class="form-control" id="ecommerce-product-name"/>
                    </div>
                    <div class="col-md-4 product_stock mt-4">
                        <button type="submit" class="btn btn-primary waves-effect waves-light text-white" >
                            Get Car
                        </button>
                    </div>
                </div>
            </div>
        </form>*@
        <form method="post" asp-controller="User" asp-action="CarByCityIDFromDateToDate" asp-area="User" asp-route-CityID="@CityID">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center row ">
                    <div class="col-md-4 product_status">
                        <label for="ecommerce-product-name" class="fw-bold mb-1 ms-1">From Date</label>
                        <input type="datetime-local" placeholder="FromDate" asp-for="@carModel.FromDate" class="form-control" id="ecommerce-product-name" name="FROMDATE" />
                    </div>
                    <div class="col-md-4 product_category">
                        <label for="ecommerce-product-name" class="fw-bold mb-1 ms-1">To Date</label>
                        <input type="datetime-local" placeholder="ToDate" asp-for="@carModel.ToDate" class="form-control" id="ecommerce-product-name" name="TODATE" />
                    </div>
                    <div class="col-md-4 product_stock mt-4">
                        <button type="submit" class="btn btn-success waves-effect waves-light text-white">
                            Get Car
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

<section class="section">
    <div class="d-flex justify-content-between">
        <div class="">
        </div>
    </div>
    <div class="col-6 mb-3">
    </div>

    <div class="row align-items-top">
        @foreach (DataRow dataRow in Model.Rows)
        {
            <div class="col-lg-4">
                <div class="row-lg-4">
                    @{Console.WriteLine("hdg"+carModel.FromDate);}
                    <a asp-area="User" asp-controller="User" asp-action="CarDetailPage" asp-route-CarID="@dataRow["CarID"]" asp-route-FromDate="@carModel.FromDate.ToString()" asp-route-ToDate="@carModel.ToDate.ToString()">
                        <div class="card" style="border-radius:20px; overflow: hidden;">

                            <img class="card-img-top" src="@Url.Content(dataRow["CarPhoto"].ToString())" alt="Card image cap" style="width:auto; height:200px" />

                            <div class="card-body">
                                <div class="row">
                                    <div class="column">
                                        <p class="card-title" style="margin-bottom: -15px">@dataRow["CarName"]</p>
                                    </div>
                                    <div class="column">
                                        <p class="card-text" style="font-size: small; margin-bottom: -15px">@dataRow["TransmissionName"] @dataRow["CarTypeName"]</p>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="container" style=" border-radius: 10px;background-color: #d3d7de; ">
                                        Ratings
                                    </div>
                                </li>
                                <li class="list-group-item">₹@dataRow["Price"]/hr</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</section>

@section Scripts
    {
    <script>
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }

        var today = new Date();
        $('#date_picker').attr('min', today);
    </script>
}
