@using CarRentalServies.Areas.Admin.Models
@{
    Layout = "~/Areas/Admin/Views/shared/_Admin_Layout.cshtml";
    UserFilterModel filterModel = new UserFilterModel();
}
@using System.Data
@model DataTable

<div class="pagetitle">
    <h1>User List Page</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">User List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Filter</h5>

        <!-- No Labels Form -->
        <form class="row g-3" method="post" asp-controller="Admin" asp-action="UserFilter" asp-area="Admin">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Name" asp-for="@filterModel.Name">
            </div>
            <div class="col-md-4">
                <select class="form-select" asp-for="@filterModel.StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                    <option>Select State</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select" asp-for="@filterModel.CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                    <option>Select City</option>
                </select>
            </div>

            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary" OnClientClick="this.form.reset();return false;">Reset</button>
            </div>
        </form><!-- End No Labels Form -->

    </div>

</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="d-flex justify-content-between card-header">
                    <div class="">
                        <h5>UserList</h5>
                    </div>
                    <div class="">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="UserAddEdit">
                            <input type="button" class="btn btn-success" value="Add User" />
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <br />

                    <!-- Table with hoverable rows -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">UserName</th>
                                <th scope="col">Password</th>
                                <th scope="col">Email</th>
                                <th scope="col">City</th>
                                <th scope="col">MobileNo</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["Name"]</td>
                                    <td>@dr["Password"]</td>
                                    <td>@dr["Email"]</td>
                                    <td>@dr["CityName"]</td>
                                    <td>@dr["MobileNo"]</td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="me-2">
                                                <form method="post" asp-area="Admin" asp-controller="Admin" asp-action="UserDelete">
                                                    <input type="hidden" value="@Convert.ToInt32(dr["UserID"])" name="UserID" />
                                                    <button type="submit" class="btn btn-danger" value="Delete" onclick="return fun1();">Delete</button>
                                                </form>
                                            </div>
                                            @*<div class="ms-2">
                                                <form asp-area="Admin" asp-controller="Admin" asp-action="UserAddEdit">
                                                    <input type="hidden" value="@Convert.ToInt32(dr["UserID"])" name="UserID" />
                                                    <button type="submit" class="btn btn-info" value="Update">Update</button>
                                                </form>
                                            </div>*@
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
    {
    <script>
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}