@using CarRentalServies.Areas.Admin.Models
@{
    Layout = "~/Areas/Admin/Views/shared/_Admin_Layout.cshtml";
    StateFilterModel filterModel = new StateFilterModel();
}
@using System.Data
@model DataTable

<div class="pagetitle">
    <h1>State List Page</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">State List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Filter</h5>

        <!-- No Labels Form -->
        <form class="row g-3" method="post" asp-controller="AddressBook" asp-action="StateFilter" asp-area="Admin">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="StateName" asp-for="@filterModel.StateName">
            </div>
            <div class="col-md-4">
                <select class="form-select" asp-for="@filterModel.CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                    <option>Select Country</option>
                </select>
            </div>

            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End No Labels Form -->

    </div>

</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="d-flex justify-content-between card-header">
                    <div class="">
                        <h5>State List</h5>
                    </div>
                    <div class="">
                        <a asp-area="Admin" asp-controller="AddressBook" asp-action="StateAddEdit">
                            <input type="button" class="btn btn-success" value="Add State" />
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <br />

                    <!-- Table with hoverable rows -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">State Name</th>
                                <th scope="col">State Code</th>
                                <th scope="col">Country Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["StateName"]</td>
                                    <td>@dr["StateCode"]</td>
                                    <td>@dr["CountryName"]</td>
                                    <td>
                                        <div class="d-flex">

                                            <div class="me-2">
                                                <form method="post" asp-area="Admin" asp-controller="Addressbook" asp-action="StateDelete">
                                                    <input type="hidden" value="@Convert.ToInt32(dr["StateID"])" name="StateID" />
                                                    <button type="submit" class="btn btn-danger" value="Delete" onclick="return fun1();">Delete</button>
                                                </form>
                                            </div>
                                            <div class="ms-2">
                                                <form asp-area="Admin" asp-controller="Addressbook" asp-action="StateAddEdit">
                                                    <input type="hidden" value="@Convert.ToInt32(dr["StateID"])" name="StateID" />
                                                    <button type="submit" class="btn btn-info" value="Edit">Edit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with hoverable rows -->

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
    {
    <script>
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}